#mapid {
  height: 60vh;
  width: 100%;
  margin-bottom: 15px;
}

#logo {
  width: 8%;
  margin-left: 5px;
}

.container  {
  margin-top: 5px;
}

.btn-navbar {
  margin-right: 5px;
}

#action-block {
  width: 100%;
}

.action {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  float: right;
}

.form-control {
  width: 50%;
}

button {
  background-color: white;
}

.waste-alert {
  float: right;
}

.close {
  background-color: transparent;
  border: 0;
}