<audio controls autoplay muted *ngIf="!user">
  <source src="./assets/bandol.mp3" type="audio/mpeg">
</audio>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/logo.ico" id="logo" class="d-inline-block" alt="logo"/>
    Greenwashing
  </a>

  <div>
    <button class="btn btn-outline-secondary btn-navbar" (click)="userInfo()" *ngIf="user">
      <i class="fas fa-user-tag"></i>
      Account
    </button>
    <button class="btn btn-outline-secondary btn-navbar" (click)="signOut()" *ngIf="user">
      <i class="fas fa-sign-out-alt"></i>
      Log out
    </button>
    <button class="btn btn-outline-secondary btn-navbar" (click)="signIn()" *ngIf="!user"routerLink="/login">
      <i class="fas fa-sign-in-alt"></i>
      Log in
    </button>
  </div>

</nav>

<div class="container">

  <div id="mapid"></div>

  <div id="action-block">
    <div class="form">
      <button class="btn btn-outline-success action" id="search-btn" type="submit">
        Search
      </button>
      <input class="form-control action" type="search" placeholder="Search" aria-label="Search"/>
    </div>

    <div class="actions-agent-entretient" *ngIf="user">
      <button class="btn btn-outline-success action" (click)="cleanWaster()">
        Waste cleaned up
      </button>
    </div>

    <div class="actions-eco-citoyen" *ngIf="user">
      <button class="btn btn-outline-danger action" (click)="reportWaster()">
        Report a waste
      </button>
    </div>
  </div>

  <button #alertSuccess type="button" class="alert alert-success alert-dismissible fade waste-alert close" aria-label="Close" (click)="closeAlertSuccess()"  role="alert">
    <i class="far fa-check-circle"></i>
    Déchet reporté avec succès, merci !
  </button>

  <button #cleanSuccess type="button" class="alert alert-success alert-dismissible fade waste-alert close" aria-label="Close" (click)="closeCleanSuccess()"  role="alert">
    <i class="far fa-check-circle"></i>
    Nettoyage pris en compte, merci !
  </button>
  
  <button #alertError class="alert alert-danger alert-dismissible fade waste-alert close" (click)="closeAlertError()" role="alert">
    <i class="far fa-check-circle"></i>
    Veuillez sélectionner un points GPS pour reporter un déchet.
  </button>

</div>

  
  
