#mapid {
  height: 60vh;
  width: 100%
}

#logo {
  width: 8%;
  margin-left: 5px;
}

.container  {
  margin-top: 5px;
}

.btn-navbar {
  margin-right: 5px;
}

#action-block {
  width: 100%;
}

.action {
  margin-top: 5px;
  margin-left: 5px;
  float: right;
}

.form-control {
  width: 25%;
}
